@import "tailwindcss";

/* tailwind.css or globals.css */
.swiper-button-prev,
.swiper-button-next {
  color: #feda8e;
  @apply hidden lg:block;
}

.swiper-pagination-bullet {
  background-color: #feda8e;
}

.swiper-pagination-bullet-active {
  background-color: gray;
}
